<html>
<head>
    @RenderPage("Share/meta.cshtml")

    <title>Login</title>

    @RenderPage("Share/commonCss.cshtml")
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-sm-12 col-md-4 mt-5 text-center">
                <h2>Registration page</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-sm-12 col-md-6">
                <form id="register-form" class="mt-5 mt-xl-5">
                    <label class="mt-2">Username</label>
                    <input id="username" type="text" class="form-control" />
                    <label class="mt-2">Email</label>
                    <input id="email" type="text" class="form-control" />
                    <label class="mt-2">Password</label>
                    <input id="password" type="password" class="form-control" />
                    <label class="mt-2">Re-password</label>
                    <input id="re-password" type="password" class="form-control" />

                    <input id="register" class="btn btn-block mt-4" type="submit" value="Register" />
                    <div class="w-100 text-center">
                        <a class="text-center" href="login.cshtml">Already a member? Login</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-sm-12 col-md-4 alert alert-danger text-center" style="display: none;"></div>
        </div>
    </div>

    @RenderPage("Share/commonJs.cshtml")
    <script src="~/JS/register.js"></script>
</body>
</html>