<!DOCTYPE html>
<html>
<head>
    @RenderPage("Share/meta.cshtml")

    <title>Start page</title>

    @RenderPage("Share/commonCss.cshtml")
</head>
<body>
    @RenderPage("Share/navbar.cshtml")
    <div class="container">
        <div class="row">

        </div>
    </div>

    @RenderPage("Share/commonJs.cshtml")
</body>
</html>